---
layout: default
title: Calculadora de Integrais duplas e triplas
---
<h1>Calculadora de Integrais duplas e triplas</h1>
<hr/>
<ul class="nav nav-tabs">
    <li><a href="#duplas" data-toggle="tab">Duplas</a></li>
    <li><a href="#triplas" data-toggle="tab">Triplas</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="duplas">
        {% include duplas.html %}
    </div>
    <div class="tab-pane fade" id="triplas">
        {% include triplas.html %}
    </div>
</div>
