<div style="text-align: center;">
    <span style="font-size: 200px">∫</span>
    <span style="font-size: 200px">∫</span>
    <div style="position: relative; display: inline; top: -15px;">
        <span>
            <input id="f" type="text" style="font-size: 70px; border: 1px solid grey; width: 440px; padding: 9px 5px;"/>
        </span>
        <span style="font-size: 70px; font-style: italic;">dxdy<span id="result"></span></span>
    </div>

</div>

<input id="xn" type="text" />
<input id="xm" type="text" />
<input id="yn" type="text" />
<input id="ym" type="text" />
<input id="n" type="range" min="1" max="100" step="1" value="20" />
<span id="n-value">20</span>

<button id="calculate" class="btn btn-success">Calcular</button>

