<table style="font-family: serif; margin: 50px 20px;">
    <tr>
        <td rowspan="3"><span style="font-size: 15em; margin: 0; padding: 0 13px; line-height: 62px; font-family: serif;">∫</span></td>
        <td><input id="xm" type="text" style="width: 60px; border: 1px solid #ddd; font-size: 1.73em;"/></td>
        <td rowspan="3"><span style="font-size: 15em; margin: 0; padding: 0 13px; line-height: 62px; font-family: serif;">∫</span></td>
        <td><input id="ym" type="text" style="width: 120px; border: 1px solid #ddd; font-size: 1.73em" /></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="height: 155px;"><input id="f" type="text" style="width: 400px; border: 1px solid #ddd; font-size: 4em" /></td>
        <td>
            <select id="tipo" type="text" style="border: 1px solid #ddd; font-size: 4em" />
                <option value="1">dydx</option>
                <option value="2">dxdy</option>
                <option value="3">rdrdθ</option>
            </select>
        </td>
        <td><span id="result" style="font-size: 4em"></span></td>
    </tr>
    <tr>
        <td><input id="xn" type="text" style="width: 60px; border: 1px solid #ddd; font-size: 1.73em; margin-left: -32px;" /></td>
        <td><input id="yn" type="text" style="width: 120px; border: 1px solid #ddd; font-size: 1.73em; margin-left: -32px;" /></td>
        <td></td>
        <td></td>
    </tr>
</table>

<input id="n" type="range" min="1" max="100" step="1" value="20" />
<span id="n-value">20</span>

<button id="calculate" class="btn btn-success">Calcular</button>
<br/>
<br/>
<br/>
<h2>Exemplos</h2>
    <br/>
<table class="table table-striped" style="font-family: serif;">
    <tr>
        <td style="font-size: 1.5em">∫∫ (16 - x^2 - 2y^2) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('16 - x^2 - 2*y^2', '0', '2', '0', '2', 1)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ (sqrt(1 - x^2)) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('sqrt(1 - x^2)', '-1', '1', '-2', '2', 1)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ (x - 3*y^2) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('x - 3*y^2', '0', '2', '1', '2', 1)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ ((x^2)*y) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('(x^2)*y', '0', '3', '1', '2', 1)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ ((x^2)*y) dxdy</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('(x^2)*y', '1', '2', '0', '3', 2)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ (x - 3*y^2) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('x - 3*y^2', '0', '2', '1', '2', 1)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ (y*sin(x*y)) dxdy</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('y*sin(x*y)', '0', 'pi', '1', '2', 2)">Carregar...</button></td>
    </tr>
    <tr>
        <td style="font-size: 1.5em">∫∫ (x + 2*y) dydx</td>
        <td><button class="btn btn-primary" onclick="carregarDupla('x + 2*y', '-1', '1', '2*x^2', '1+x^2', 1)">Carregar...</button></td>
    </tr>
</table>
