    <div style="text-align: center;">
        <span style="font-size: 200px">∫</span>
        <span style="font-size: 200px">∫</span>
        <div style="position: relative; display: inline; top: -15px;">
        <span>
            <input id="f-polar" type="text" style="font-size: 70px; border: 1px solid grey; width: 440px; padding: 9px 5px;"/>
        </span>
            <span style="font-size: 70px; font-style: italic;">rdrdθ<span id="result-polar"></span></span>
        </div>

    </div>



    <input id="xn-polar" type="text" />
    <input id="xm-polar" type="text" />
    <input id="yn-polar" type="text" />
    <input id="ym-polar" type="text" />
    <input id="n-polar" type="range" min="1" max="100" step="1" value="20" />
    <span id="n-value-polar">20</span>

    <button id="calculate-polar" class="btn btn-success">Calcular</button>
